<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Workout</title>
</head>

<body>
    <h1>Add Workout</h1>

    <form id="workout-form">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date">
        <label for="workoutmins">Workout Minutes:</label>
        <input type="number" id="workoutmins" name="workoutmins">
        <label for="workouttype">Workout Type:</label>
        <input type="text" id="workouttype" name="workouttype">
        <button type="submit">Submit</button>
    </form>

    <script src="/js/updateworkout.js"></script>
</body>